<h2>Ejemplos de formularios reactivos</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Listado de Usuarios</h3>
  </div>
  <div class="panel-body">
    <table class = "table table-striped">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Edad</th>
        <th>Puesto</th>
        <th>Estado</th>
        <th>&nbsp;</th>
      </tr>
      <tr *ngFor = "let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.job }}</td>
        <td>
          <span class = "label label-success" *ngIf = "user.isActive">ACTIVO</span>
          <span class = "label label-success" *ngIf = "!user.isActive">INACTIVO</span>
        </td>
        <td>
          <button class = "btn btn-primary glyphicon glyphicon-pencil"
                  (click) = "loadUser(user)"></button>
          <button class = "btn btn-danger glyphicon glyphicon-trash"
                  (click) = "removeUser(user)"></button>
        </td>
      </tr>
    </table>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Creación de un formulario reactivo</h3>
  </div>
  <div class="panel-body">
    <form [formGroup] = "employeeForm">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text"
        class="form-control"
        id="name"
        name="name"
        formControlName="name" />
        
        <div class="alert alert-danger" [hidden] = "employeeForm.controls['name'].valid || employeeForm.controls['name'].pristine" >
          El nombre debe tener al menos 4 caractéres.
        </div>
      </div>
      
      <div class="form-group">
        <label>Email</label>
        <input type="text"
        class="form-control"
        id="email"
        name="email"
        formControlName="email" />
        
        <div class="alert alert-danger" [hidden] = "employeeForm.controls['email'].valid || employeeForm.controls['email'].pristine" >
          El email debe ser válido.
        </div>
      </div>
      
      <div class="form-group">
        <label>Edad</label>
        <input type="text"
        class="form-control"
        id="age"
        name="age"
        formControlName="age" />
      </div>
      
      <div class="form-group">
        <label>Puesto</label>
        <select class="form-control"
        id="job"
        name="job"
        formControlName="job" >
          <option *ngFor="let job of jobs" [value] = "job">
            {{ job }}
          </option>
        </select>
      </div>
      
      <div class="form-group">
        <label>
          <input type="checkbox"
          class="form-control"
          id="isActive"
          name="isActive"
          formControlName="isActive" /> ¿Activo?
        </label>
      </div>
      
      <button type="button" class="btn btn-success"
        *ngIf = "employee.id == null"
        [disabled] = "!employeeForm.valid"
        (click) = "createUser()">Crear usuario</button>
      
    </form>
  </div>
</div>